<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>Plantilla EJS</title>
</head>
<body>
    <h1>Hola desde EJS</h1>
    <p>Esta es una vista generada con EJS con mucho cariño</p>
</body>
</html>
